  <% @sum = 0 %>
  <% @cocktail.reviews.each do |review| %>
  <% @sum = @sum += review.rating %>
  <% end %>
  <% if @sum == 0 %>
  <% @average = 0 %>
  <% else %>
  <% @average = @sum / @cocktail.reviews.count %>
  <% end %>




<h1 class="header"><%= @cocktail.name %></h1>
<div class="container">
<div class="row">

  <div class="col-12 col-lg-7">
<% if @cocktail.photos.count < 4 %>
 <div class="cocktail-image-show-container" style="background-image: linear-gradient(315deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7)), url('<%= cl_image_path @cocktail.photos[0].key %>')">
  </div>

<% else %>
  <%= render "./partials/carousel.html.erb" %>
  <% end %>
</div>

<div class="col-12 col-lg-5">
<div class="ingredients">
<h2>Description:</h2>
<p><%=@cocktail.description %></p>
<h2>Ingredients:</h2>
<% @cocktail.doses.each do |dose| %>
<div class="ingredient"><p>
  <%= dose.description.capitalize %> - <em><%= dose.ingredient.name %></em></p>
  <%= link_to dose_path(dose), method: :delete, class: "delete", data: { confirm: "Click OK to delete  #{dose.ingredient.name.upcase} from the #{dose.cocktail.name.upcase}" } do %>
    <%= fa_icon "minus-square" %>
  </div>
<% end %>
<% end %>

<div class="links">

<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Click OK to delete #{@cocktail.name.upcase}" }, role: "button", class: "btn btn-dark" %>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Add Ingredients
</button>

</div>
<h2>Overall Rating:</h2>
<p class="star-average"><%= (fa_icon "star") * @average %> <%= @average %>/5</p>
<h2>Reviews:</h2>
<div class="links">
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addReview">
  Add Review
</button>

<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#viewReview">
  View Reviews
</button>
</div>
</div>
</div>
  </div>
</div>

<%= render "./partials/modal-ingredient.html.erb" %>
<%= render "./partials/modal-add-review.html.erb" %>
<%= render "./partials/modal-view-reviews.html.erb" %>
<%= render "./partials/flashes.html.erb" %>

